
.vertical-timeline-element-date{
    color: #CC5E51
}

.experience-div-title h1{
    font-family: 'Robot9000';
}

.experience-div{
    transform: translateY(600px);
    width: 80%;
    z-index: 2;
}

.vertical-timeline--animate 
{
    font-family: '8bitOperator';
}