
@font-face {
  font-family: 'VigranMaroll';
  src: url('./VigranMaroll.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.name-div{
  margin: 0;
  padding: 0;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center
}

.name-container {
  width: 700px;
  height: 400px;
  position: relative;
  /* Removed margin and top properties */
  /* Added flex properties for center alignment */
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-line {
  position: absolute;
  right: 0;
  left: 0;
  top: -40px;
  background-color: white;
  width: 1px;
  height: 150px; /* Adjusted from 0px */
  background-image: linear-gradient(to bottom, #F0C27B, #4B1248);
  background-size: 200% 200%;
  animation: AnimationName 5s ease infinite;
}

.name-container .name-line-1 {
  /* border-left: 5px solid black; */
  backface-visibility: hidden; /* Added standard property */
  -webkit-backface-visibility: hidden;
  left: 341px;
  top: 10px;
}

.name-container .name-line-2 {
  /* border-right: 5px solid black; */
  left: 341px;
  top: 10px;

}

.name-container .name-text {
  color: white;
  text-transform: uppercase;
  font-family: 'VigranMaroll';
  font-weight: 300;
  font-size: 75px;
  text-align: left;
  width: 230px; /* Adjusted from 0px */
  overflow: hidden;
  transform: rotate(35deg);
  position: relative;
  height: 100%;
  visibility: hidden;
  transform-origin: center; /* Set the origin of scaling */
  animation: scaleText 2.5s ease-out forwards;
}

.name-container .name-text .name-span {
  transform: rotate(-35deg);
  position: absolute;
  width: 290px;
  top: 48px;
  right: 0;
  left: -7px;
  background-image: linear-gradient(to bottom, #F0C27B, #4B1248);
  background-clip: text; /* Added standard property */
  -webkit-background-clip: text;
  text-fill-color: transparent; /* Added standard property */
  -webkit-text-fill-color: transparent;
  color: #fff;
  background-size: 200% 200%;
  animation: AnimationName 5s ease infinite;
}

@keyframes scaleText {
  0% {
    transform: scale(0) 35deg;
  }
  100% {
    transform: scale(1) 35deg;
  }
}

@keyframes AnimationName {
  0% { background-position: 0% 88%; }
  50% { background-position: 100% 13%; }
  100% { background-position: 0% 88%; }
}


.about-me{
  color: white;
  padding: 20px;
  width: 50%;
}

.about-me h2 {
  font-size: 35px;
}

.about-me p {
  padding-right: 130px;
  font-size: 20px;
  margin-top: 25px;
}

.about-me-div {
  height: 100vh;
  background: linear-gradient(180deg, #000 0%, #6591D3 78.45%);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.all-social-div {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.social-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 110px;
}

.social-img {
  width: 100px;
  height: 100px;
}

.social-name {
  background: white;
  width: 110px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  visibility: hidden;
  color: rgb(36, 36, 36);
  cursor: pointer;
  opacity: 0;
}

.social-div:hover .social-name{
  animation: shootingStar 1s ease forwards;
  visibility: visible;
}

/* .social-div:hover .social-img{
  filter: drop-shadow(23px 10px 16px #86E5EB);
} */


@keyframes shootingStar {
  0% {
    transform: translateY(-100%) translateX(-100%);
    opacity: 0;
      filter: drop-shadow(0 0 15px #B88B64);
  }
  50%{
    filter: drop-shadow(-16px 0px 10px #B88B64);
  }
  100% {
      transform: scale(1) translate(0, 0);
      opacity: 1;
  }
}

:root {
  --rocket-color: #FFFFFF;
  --detail-color: #DD4D2D;
  --window-color: #076AA1;
  --flame-outer-color: #F6AD14;
  --flame-inner-color: #F2E718;
}

.box-canvas{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  margin-bottom: 8%;
  width: 150px;
  height: 250px;
  animation: shootingStar 1s ease forwards;

}

.rocket {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 66px;
  height: 170px;
  overflow: hidden;
  border-radius: 50% 50% 0 0;
}



.wing {
  position: absolute;
  top: 150px;
  width: 60px;
  height: 70px;
  border-radius: 40%;
  
}

.wing.left {
  box-shadow: -15px -20px 0 var(--detail-color);
  left: 40px;
}

.wing.right {
  box-shadow: 15px -20px 0 var(--detail-color);
  right: 40px;
}

.wing-center {
  position: absolute;
  left: 50%;
  top: 130px;
  transform: translateX(-50%);
  height: 60px;
  width: 3px;
  background: var(--detail-color);
  border-radius: 0 0 50% 50%;
}

.main {
  content: '';
  position: absolute;
  top: 20px;
  width: 66px;
  height: 170px;
  background: var(--rocket-color);
  border-radius: 50%;
  overflow: hidden;
}

/* Cone at top */
.main::before {
  content: '';
  position: absolute;
  height: 40px;
  border-radius: 50%;
  width: 66px;
  background: var(--detail-color);
}

.main::after {
  content: '';
  position: absolute;
  width: 66px;
  height: 170px;
  border-radius: 50% ;
  box-shadow: 10px 0 0 rgba(0,0,0,0.2);
  left: -9px;
}

.window {
  position: absolute;
  left: 50%;
  transform: translateX(-100%);
  top: 60px;
  width: 27px;
  height: 27px;
  transform: rotate(-90deg);
  color: var(--window-color)
}

/* Glare */
.window::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  transform: rotate(45deg);
  background: rgba(255,255,255,0.5);
  top: 10px;
  left: 5px;
}

.flame-outer {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--flame-outer-color);
}

.flame-outer::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0; 
  height: 0; 
  top: 20px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 30px solid var(--flame-outer-color);
}

.flame-outer::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 15px;
  background: linear-gradient(to bottom, var(--window-color), var(--window-color) 5px, var(--detail-color) 5px);
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.flame-inner {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--flame-inner-color);
  border-radius: 50%;
}

.flame-inner::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0; 
  height: 0; 
  top: 14px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 20px solid var(--flame-inner-color);
}