.name-container {
  width: 700px;
  height: 400px;
  margin: 3% auto;
  position: relative;
}

.name-line {
  position: absolute;
  right: 0;
  left: 0;
  top: -40px;
  background-color: white;
  width: 1px;
  height: 150px; /* Adjusted from 0px */
  background-image: linear-gradient(to bottom, #F0C27B, #4B1248);
  background-size: 200% 200%;
  animation: AnimationName 5s ease infinite;
}

.name-container .name-line-1 {
  /* border-left: 5px solid black; */
  backface-visibility: hidden; /* Added standard property */
  -webkit-backface-visibility: hidden;
  left: 300px;
  top: -16px;
}

.name-container .name-line-2 {
  /* border-right: 5px solid black; */
  left: 300px;
  top: -16px;

}

.name-container .name-text {
  color: white;
  text-transform: uppercase;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 75px;
  text-align: left;
  width: 230px; /* Adjusted from 0px */
  margin-top: 150px;
  margin-left: 175px;
  overflow: hidden;
  transform: rotate(35deg);
  position: relative;
  height: 100%;
  visibility: hidden;
  transform-origin: center; /* Set the origin of scaling */
  animation: scaleText 2.5s ease-out forwards;
}

.name-container .name-text .name-span {
  transform: rotate(-35deg);
  position: absolute;
  width: 290px;
  top: 48px;
  right: 0;
  left: -7px;
  background-image: linear-gradient(to bottom, #F0C27B, #4B1248);
  background-clip: text; /* Added standard property */
  -webkit-background-clip: text;
  text-fill-color: transparent; /* Added standard property */
  -webkit-text-fill-color: transparent;
  color: #fff;
  background-size: 200% 200%;
  animation: AnimationName 5s ease infinite;
}

@keyframes scaleText {
  0% {
    transform: scale(0) 35deg;
  }
  100% {
    transform: scale(1) 35deg;
  }
}

@keyframes AnimationName {
  0% { background-position: 0% 88%; }
  50% { background-position: 100% 13%; }
  100% { background-position: 0% 88%; }
}
