.project-card-container{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}


.project-card {
  background: #468B98;
  width: 310px;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#project-card-div:hover{
  transform: translateY(-20px);
}

.project-card-img {
  background: royalblue;
  width: 100%;
  height: 170px;
  border-radius: 10px;
}

.project-card-title {
  color: white;
  margin-top: 20px;
}

.project-card-description {
  color: white;
  margin-top: 10px;
}

.project-card-skill-list {
  display: flex;
  align-items: center;
  gap: 7px;
  color: white;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}