.project-pages-container {
    background: #000924ee;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: '8bitOperator';
    color: #69EEFF

}

.project-pages-indiv-container {
    height: 100%;
    display: flex;
}

.project-pages-media-container {
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border:1px solid #113691;
    border-radius: 10px;
    margin-top: 20px;
}

.project-pages-media {
    width: 90%;
    height: 400px;
    background: rosybrown;
    margin-top: 50px;
}

.project-pages-media-button-div {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.project-pages-media-button{
    --green: #69EEFF;
    font-size: 17px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 68, 253, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 106, 253, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 50, 253, 0.4), 0 0 9px 3px rgba(27, 42, 253, 0.1);
}

.project-pages-media-button:hover{
    background: rgba(27, 42, 253, 0.356);
}

/* Dynamic width for buttons handled in React, not CSS */
.project-pages-media-desc-container {
    width: 90%;
    margin-top: 20px;
}

.project-pages-scanning-container {
    background: red;
    width: 30%;
    justify-content: center;
}

.hologram-base {
    position: relative;
    margin: auto;
    box-sizing: border-box;
    background-clip: padding-box;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 4px solid rgba(255, 255, 255, 0.1);
    -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.1), #000000 90%);
    transform-origin: 50% 60%;
    transform: perspective(200px) rotateX(66deg);
    animation: spinner-wiggle 5s infinite;
  }
  
  .hologram-base:before,
  .hologram-base:after {
    content: "";
    position: absolute;
    margin: -4px;
    box-sizing: inherit;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    opacity: .05;
    border: inherit;
    border-color: transparent;
    animation: spinner-spin 5s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, spinner-fade 1.2s linear infinite;
  }
  
  .hologram-base:before {
    border-top-color: #66e6ff;
  }
  
  .hologram-base:after {
    border-top-color: #f0db75;
    animation-delay: 0.3s;
  }
  
  @keyframes spinner-spin {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spinner-fade {
    20% {
      opacity: .1;
    }
  
    40% {
      opacity: 1;
    }
  
    60% {
      opacity: .1;
    }
  }