.skill-computer-left {
    left: 50px;
}

.skill-computer-right {
    right: 50px;
}

.skill-computer-title {
    color: #32E731;
    font-size: 30px;
    font-family: '8bitOperator';

}

.skill-list-div {
    display: flex;
    flex-direction: column;
}

.skill-list-span {
    color: #32E731;
    margin-top: 10px;
    font-size: 20px;
    font-family: '8bitOperator';
}

.skill-achievement{
    margin-top: 50px;
}

.skill-computer {
    width: 500px;
    background: #213D52;
    border: 2px solid #2FD7C6;
    border-radius: 10px;
    position: absolute;
    padding: 50px;
}
